<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginMvc</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list> 
  <!-- 
  
      <servlet>
    <servlet-name>FrontCompanyServlet</servlet-name>
    <servlet-class>com.iqenergy.controller</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
   
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontCompanyServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
  
  
  
  
    <servlet>
    <servlet-name>FrontProductServlet</servlet-name>
    <servlet-class>com.iqenergy.controller</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>0</param-value>
    </init-param>
   
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontProductServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
   
   -->
  
  
 <!--  
  
    <servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
		     <param-name>com.sun.jersey.config.property.packages</param-name>
		     <param-value>com.iqenergy.controller</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
  <servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/products/*</url-pattern>
	</servlet-mapping>
  -->
  <error-page>
    <error-code>403</error-code>
    <location>/error403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/errorPage.jsp</location>
  </error-page>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  
  <security-constraint>
    <display-name>Restrict direct access to certain folders</display-name>
    <web-resource-collection>
      <web-resource-name>Restricted folders</web-resource-name>
    </web-resource-collection>
    <auth-constraint/>
  </security-constraint>
  
   
</web-app>